<ion-content class="ion-padding">
  <section class="upper-section">
    <div class="welcome-container ion-text-center">
      <div>
        <h1>OOPS!</h1>
        <p>Don't worry we are here</p>
      </div>
    </div>
  </section>
  <section class="lower-section ion-padding">
    <ion-row class="h-100 ion-justify-content-center ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <form [formGroup]="validationForm" (ngSubmit)="recoreyPassword(validationForm.value)">
          <ion-item input>
            <span>Email Address</span>
            <ion-input type="email" placeholder="Enter e-mail" formControlName="email"></ion-input>
          </ion-item>
          <div class="validation-errors ion-padding-start">
            <ng-container *ngFor="let validation of validationMessages.email">
              <div class="error-message font-size-14"
                *ngIf="validationForm.get('email').hasError(validation.type) && (validationForm.get('email').dirty || validationForm.get('email').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-button type="submit" class="custom-btn ion-text-capitalize font-size-20 font-weight-bold"
            [disabled]="!validationForm.valid" shape="round">
            Forgot Password
          </ion-button>
          <p class="error-message">{{errorMessage}}</p>
          <p class="dont-have-acc ion-text-center">Already have an account? <b>
              <a (click)="goToLoginPage()">Login</a>
            </b>
          </p>
        </form>
      </ion-col>
    </ion-row>
  </section>
</ion-content>