.icon {
  font-size: 24px !important;
}

ion-title {
  font-size: 20px;
}

ion-col {
  height: 100px;
  width: 100%;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
}

.header {
  margin-left: 20px;
  margin-top: 25px !important;
  color: black !important;
}

p {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 12px;
}
