<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
    <ion-buttons slot="end" style="margin-right: 10px;">
      <ion-icon class="icon" name="heart-outline" slot="icon-only">
      </ion-icon>
      <ion-icon class="icon" name="cart-outline" slot="icon-only" style="margin-left: 20px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="no-padding">
  <ion-row *ngFor="let type of types;let color of colors">
    <ion-col size="12" [ngStyle]="{'background-color': color}">
      <h4 class="header">
        {{type}} <ion-icon name="chevron-down-outline" slot="icon-only"
          style="text-align: center;margin-left:10px;font-size:10px"></ion-icon>
      </h4>
      <p>T-shirts,shirts,jeans</p>
    </ion-col>
  </ion-row>
</ion-content>