.logo {
  margin-bottom: 56px;
  h1,
  p {
    background: linear-gradient(
      120deg,
      rgba(90, 112, 239, 1) 0%,
      rgba(90, 112, 239, 1) 35%,
      rgba(50, 66, 232, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
  }
  h1 {
    font-size: 52px;
    font-weight: bold;
  }
  p {
    font-size: 42px;
    letter-spacing: 8px;
  }
}

.auth-section {
  h1 {
    font-size: 52px;
    font-weight: bold;
    margin: 0;
  }
  p {
    color: var(--ion-color-medium);
  }
}

.login-facebook {
  --background: linear-gradient(
    120deg,
    rgba(90, 112, 239, 1) 0%,
    rgba(90, 112, 239, 1) 20%,
    rgba(50, 66, 232, 1) 100%
  );
  --box-shadow: 0px 8px 8px #3242e829;
  --border-radius: 30px;
  margin: 32px 0 26px 0;
}

.social-sign-up {
  margin: 32px auto;
}
