<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark">
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="font-size-16 font-weight-bold" style="color: goldenrod">INSIDER</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button color="dark">
        <ion-icon name="notifications-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button color="dark">
        <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button color="dark">
        <ion-icon name="cart-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Categories -->
  <section class="section-category ion-margin-bottom">
    <ion-row class="ion-nowrap" style="overflow-x: scroll;">
      <ion-col *ngFor="let category of categories" class="ion-no-padding">
        <ion-card class="category ion-no-margin">
          <img class="w-100 h-100" [src]="category.thumbnail" />
        </ion-card>
      </ion-col>
    </ion-row>
  </section>

  <!-- Offers -->
  <section class="section-offer">
    <div class="offer ion-margin-bottom">
      <img class="w-100" src="assets\images\myntras.jpg" />
    </div>
    <div class="offer ion-margin-bottom">
      <img class="w-100" style="height: 320px;" src="assets\images\images.jpg" />
    </div>
    <div class="offer ion-margin-bottom">
      <img class="w-100"
        src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/retaillabs/2020/7/9/eed53397-e90c-47b4-ae6e-4269b78298661594289649989-CITI.jpg" />
    </div>
  </section>

  <!-- Popular Categories -->
  <section class="section-shop-popular-categories ion-margin-bottom">
    <p class="font-size-20 ion-text-center">Shop Popular Categories</p>
    <ion-row class="ion-nowrap" style="overflow-x: scroll;">
      <ion-col *ngFor="let popular_category of shopPopularCategories">
        <ion-card class="popular-category ion-no-margin">
          <img [src]="popular_category" />
        </ion-card>
      </ion-col>
    </ion-row>
  </section>

  <!-- Styles -->
  <section class="section-styles ion-margin-bottom">
    <p class="font-size-20 ion-text-center">Styles For Her</p>
    <ion-row>
      <ion-col *ngFor="let style of styles.women" size="4" size-sm="4" size-md="4" size-lg="3" size-xl="3">
        <ion-card class="style h-100 ion-no-margin">
          <img class="w-100 h-100" [src]="style" />
        </ion-card>
      </ion-col>
    </ion-row>
    <p class="font-size-20 ion-text-center">Styles For Him</p>
    <ion-row>
      <ion-col *ngFor="let style of styles.men" size="4" size-sm="4" size-md="4" size-lg="3" size-xl="3">
        <ion-card class="style h-100 ion-no-margin">
          <img class="w-100 h-100" [src]="style" />
        </ion-card>
      </ion-col>
    </ion-row>
    <p class="font-size-20 ion-text-center">Kids</p>
    <ion-row>
      <ion-col *ngFor="let style of styles.kids" size="4" size-sm="4" size-md="4" size-lg="3" size-xl="3">
        <ion-card class="style h-100 ion-no-margin">
          <img class="w-100 h-100" [src]="style" />
        </ion-card>
      </ion-col>
    </ion-row>
  </section>
</ion-content>